@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: #00123a !important;
  scroll-behavior: smooth;
}
